<div class="menu">
    <div class="container-fluid">
		<div class="navbar-header">
			<a routerLink="home">Inst<span class="glyphicon glyphicon-home"></span>rent</a>
		</div>
		<div>
			<ul class="nav navbar-nav navbar-right">
				<li><a routerLink="home"><span class="glyphicon glyphicon-home"></span> Home</a></li>
        <li><a routerLink="property" ><span class="glyphicon glyphicon-user"></span>Find Rental Properties</a></li>
				<li><a routerLink="signup" ><span class="glyphicon glyphicon-log-in"></span> Sign Up</a></li>
				<li><a routerLink="signin"><span class="glyphicon glyphicon-log-in"></span> Sign In</a></li>
				<li><a routerLink="/contact"><span class="glyphicon glyphicon-phone"></span> Contact</a></li>
			</ul>
		</div>
	</div>
</div>
 <router-outlet></router-outlet> 
<app-footer></app-footer>
