<div class="footer">
<div class="footer-padding">
            <div class="footer-links">
                <div class="row">
                    <div class="col-sm-3">
                        <h6>ADDRESS</h6>
                        <font color="orange"><strong>Digital Lync</strong></font>
                        <br>
                        <p>
                            <em>1 Hallidie Plaza<br>
                                Suite 404B,<br>
                                San Francisco,<br></em> California, 94102.
                        </p>
                    </div>
                    <div class="col-sm-3">
                        <h6>Reach</h6>
                        <p><span class="head" style="color:orange">Mobile[IN]:</span> +91 70938 61616</p>
                        <p><span class="head" style="color:orange">Mobile[USA]:</span> +1 (415)839-2126</p>
                        <p><span class="head" style="color:orange">Email:</span> info@digital-lync.com</p>
                        <h6>Connect</h6>
                        <ul class="list-unstyled social">
                            <li><a href="https://www.facebook.com/digitallync/" style="float:left"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                            <li><a href="https://twitter.com/digitallync/" style="float:left"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                            <li><a href="https://plus.google.com/106611725945858700349" style="float:left"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                            <li><a href="https://www.linkedin.com/company-beta/10702035/" style="float:left"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                            <li><a href="https://www.youtube.com/channel/UCeMy8_MibKhvzWkwxee_YnQ" style="float:left"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                    <div class="col-sm-3">
                        <h6>Links</h6>
                        <ul class="list-unstyled links">
                            <li><a href="../courses/">
                                <i class="fa fa-angle-right" aria-hidden="true"></i>Courses</a>
                            </li>
                            <li><a href="../collab">
                                <i class="fa fa-angle-right" aria-hidden="true"></i>Digital Collab</a>
                            </li>
                            <li><a href="../about-us">
                                <i class="fa fa-angle-right" aria-hidden="true"></i>About Us</a>
                            </li>
                            <li><a href="../products">
                                <i class="fa fa-angle-right" aria-hidden="true"></i>Products</a>
                            </li>
                            <li><a href="../capabilities">
                                <i class="fa fa-angle-right" aria-hidden="true"></i>Capabilities</a>
                            </li>
                            <li><a href="../connect">
                                <i class="fa fa-angle-right" aria-hidden="true"></i>Connect</a>
                            </li>
                            <li><a href="../privacy-policy" target="_blank">
                                <i class="fa fa-angle-right" aria-hidden="true"></i>Privacy Policy</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-3">
                        <h6>ADDRESS</h6>
                        <p>
                            <font color="orange"><strong>Digital Lync</strong></font>
                            <br>
                            <em>Khajaguda, Naga Hills Rd,<br>
                                    Madhura Nagar Colony,<br>
                                    Gachibowli,Hyderabad,<br>
                                    Telangana, 500008</em>
</p><h6></h6>
<font color="orange"><strong>Digital Lync</strong></font>
<br>
<em>Manjeera Trinity Corporate,<br> 1st floor, office no. 106 &amp; 107,<br> Kukatpally, Near JNTU, <br> Hyderabad, Telangana - 500072</em>
<p></p>


                    </div>
                </div>
            </div>
        </div>
</div>