<div class="row">
  <div class="col-md-12 img-responsive">
    <img src="/assets/images/contactus1.jpg">
  </div>
</div>

<div class="menu">
    <div class="container-fluid">
		<div class="navbar-header">
			<a routerLink="home">Inst<span class="glyphicon glyphicon-home"></span>rent</a>
		</div>
		<div>
			<ul class="nav navbar-nav navbar-right">
				<li><a routerLink="address"><span class="glyphicon glyphicon-home"></span>Address</a></li>
        <li><a routerLink="about" ><span class="glyphicon glyphicon-user"></span>About</a></li>
			
			</ul>
		</div>
	</div>
</div>
 <router-outlet></router-outlet> 

<div class="container">
<div class="row">

<div class="col-md-9">
  
  <form class="cform">
    <h1>Get in Touch</h1>
  <p>Please fill out the quick form and will be in touch with lighting speeed</p>
  <input type="text" placeholder="Name"><br><br>
  <input type="text" placeholder="Email"><br><br>
  <input type="text" placeholder="Message"><br><br>
  <button type="submit" value="Submit" class="btn btn-primary"> Submit</button>
  </form>
<br><br>
</div>

<div class="col-md-3">
  <h3>Connect with us:</h3>
  <p>for support or any questions</p>
  <h4>Email:info@instarant.com</h4>
    <p>
      Address:
      Instarant sydney
      Australia,02 8xxx xxxx
    </p>
</div>

</div>
</div>
<app-footer></app-footer>