  <div class="form-group col-md-offset-4">
      <div class="selection">
                <select ngModel name="contactMethod" id="contactMethod">
                  
                  <option *ngFor="let method of contactMethods" [value]="method.id">{{method.m}}</option>
                     
                </select>
                <!-- <input type="text" placeholder="Where do u want to live"> -->
                <!-- <div class="row siginup"> -->
   <!-- <span class="crl" style="color:green">1</span> -->
  <span class="colo"></span><input class="txt" type="text" placeholder="who do you like to?">
  <div type="button" class="btn btn-primary">GO</div>
 
<!-- </div> -->
                </div>
    </div>


    <div class="container-fluid">
    <div class="row">
      
         <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-4">
                            <img src="/assets/images/card1.png" class="img-responsive">
                        </div>
                        <div class="col-md-8">
                            <h6>LandLord</h6>
                            <p style="font-size: 12px;">It is a very simple card.It is a very simple card</p>
                            
                            <a>ViewMore</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-4">
                            <img src="/assets/images/card2.png" class="img-responsive">
                        </div>
                        <div class="col-md-8">
                            <h6>LandLord</h6>
                            <p style="font-size: 12px;">It is a very simple card.It is a very simple card</p>
                            
                            <a>ViewMore</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-4">
                            <img src="/assets/images/card3.png" class="img-responsive">
                        </div>
                        <div class="col-md-8">
                            <h6>LandLord</h6>
                            <p style="font-size: 12px;">It is a very simple card.It is a very simple card</p>
                            
                            <a>ViewMore</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        </div>
        </div>

        <div class="container-fluid">
    <div class="row">
      
         <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-4">
                            <img src="/assets/images/card1.png" class="img-responsive">
                        </div>
                        <div class="col-md-8">
                            <h6>LandLord</h6>
                            <p style="font-size: 12px;">It is a very simple card.It is a very simple card</p>
                            
                            <a>ViewMore</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-4">
                            <img src="/assets/images/card2.png" class="img-responsive">
                        </div>
                        <div class="col-md-8">
                            <h6>LandLord</h6>
                            <p style="font-size: 12px;">It is a very simple card.It is a very simple card</p>
                            
                            <a>ViewMore</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-4">
                            <img src="/assets/images/card3.png" class="img-responsive">
                        </div>
                        <div class="col-md-8">
                            <h6>LandLord</h6>
                            <p style="font-size: 12px;">It is a very simple card.It is a very simple card</p>
                            
                            <a>ViewMore</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        </div>
        </div>
      <div class="container-fluid">
    <div class="row">
      
         <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-4">
                            <img src="/assets/images/card1.png" class="img-responsive">
                        </div>
                        <div class="col-md-8">
                            <h6>LandLord</h6>
                            <p style="font-size: 12px;">It is a very simple card.It is a very simple card</p>
                            
                            <a>ViewMore</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-4">
                            <img src="/assets/images/card2.png" class="img-responsive">
                        </div>
                        <div class="col-md-8">
                            <h6>LandLord</h6>
                            <p style="font-size: 12px;">It is a very simple card.It is a very simple card</p>
                            
                            <a>ViewMore</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-4">
                            <img src="/assets/images/card3.png" class="img-responsive">
                        </div>
                        <div class="col-md-8">
                            <h6>LandLord</h6>
                            <p style="font-size: 12px;">It is a very simple card.It is a very simple card</p>
                            
                            <a>ViewMore</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        </div>
        </div>
      <div class="container-fluid">
    <div class="row">
      
         <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-4">
                            <img src="/assets/images/card1.png" class="img-responsive">
                        </div>
                        <div class="col-md-8">
                            <h6>LandLord</h6>
                            <p style="font-size: 12px;">It is a very simple card.It is a very simple card</p>
                            
                            <a>ViewMore</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-4">
                            <img src="/assets/images/card2.png" class="img-responsive">
                        </div>
                        <div class="col-md-8">
                            <h6>LandLord</h6>
                            <p style="font-size: 12px;">It is a very simple card.It is a very simple card</p>
                            
                            <a>ViewMore</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-4">
                            <img src="/assets/images/card3.png" class="img-responsive">
                        </div>
                        <div class="col-md-8">
                            <h6>LandLord</h6>
                            <p style="font-size: 12px;">It is a very simple card.It is a very simple card</p>
                            
                            <a>ViewMore</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        </div>
        </div>
      <div class="container-fluid">
    <div class="row">
      
         <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-4">
                            <img src="/assets/images/card1.png" class="img-responsive">
                        </div>
                        <div class="col-md-8">
                            <h6>LandLord</h6>
                            <p style="font-size: 12px;">It is a very simple card.It is a very simple card</p>
                            
                            <a>ViewMore</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-4">
                            <img src="/assets/images/card2.png" class="img-responsive">
                        </div>
                        <div class="col-md-8">
                            <h6>LandLord</h6>
                            <p style="font-size: 12px;">It is a very simple card.It is a very simple card</p>
                            
                            <a>ViewMore</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-4">
                            <img src="/assets/images/card3.png" class="img-responsive">
                        </div>
                        <div class="col-md-8">
                            <h6>LandLord</h6>
                            <p style="font-size: 12px;">It is a very simple card.It is a very simple card</p>
                            
                            <a>ViewMore</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        </div>
        </div>