<div class="back">
<div class="heading" style="color:green">
  <h1>Inst<span class="glyphicon glyphicon-home"></span>rent</h1>
 
</div>
<div class="himg col-md-offset-4">
   <img src="/assets/images/imghome.png">
  
</div>
  <div class="head">
     <h1>The simplest way to rent a property</h1>
  </div>
    
    <div class="form-group col-md-offset-4">
      <div class="selection">
                <select ngModel name="contactMethod" id="contactMethod">
                  
                  <option *ngFor="let method of contactMethods" [value]="method.id">{{method.m}}</option>
                     
                </select>
                <!-- <input type="text" placeholder="Where do u want to live"> -->
                <!-- <div class="row siginup"> -->
   <!-- <span class="crl" style="color:green">1</span> -->
  <span class="colo"></span><input class="txt" type="text" placeholder="who do you like to?">
  <div type="button" class="btn btn-primary">GO</div>
 
<!-- </div> -->
                </div>
    </div>


    
<div class="container-fulid cardsh">
   <div class="row">
     <div class=" col-md-3 col-md-offset-2">
       <div class="thumbnail feature">
          <!-- <i class="glyphicon glyphicon-home"></i> -->
          <img src="/assets/images/card2.png">
           <div class="caption">
             <p>Praediximus enim Montium sub ipso vivendi termino his vocabulis appellatos fabricarum culpasse tribunos ut adminicula futurae molitioni pollicitos</p>
             <hr>
             <a>this is a link</a>
             
         </div>
       </div>
     </div>
     
      <div class="col-md-3">
       <div class="thumbnail feature">
          <!-- <i class="glyphicon glyphicon-picture"></i> -->
          <img src="/assets/images/card2.png">
           <div class="caption">
             <p>Praediximus enim Montium sub ipso vivendi termino his vocabulis appellatos fabricarum culpasse tribunos ut adminicula futurae molitioni pollicitos</p>
             <hr>
             <a>this is a link</a>
             
         </div>
       </div>
     </div>
      <div class="col-md-3">
       <div class="thumbnail feature">
          <!-- <i class="glyphicon glyphicon-picture"></i> -->
          <img src="/assets/images/card3.png">
           <div class="caption">
             <p>Praediximus enim Montium sub ipso vivendi termino his vocabulis appellatos fabricarum culpasse tribunos ut adminicula futurae molitioni pollicitos</p>
             <hr>
             <a>this is a link</a>
             
         </div>
       </div>
     </div>


     
</div><!--/row-->
</div><!--/container -->
</div>